@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@{
    Layout = "Main.cshtml";
}

<div class="row">
    <div class="col-12">
        <h1>Homepage</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices pulvinar fermentum. In urna velit, 
            aliquam sit amet suscipit et, tempor id velit. Fusce ac congue risus, vitae fermentum magna. Pellentesque faucibus ex ipsum, 
            a auctor neque sollicitudin ut. Sed sollicitudin tortor ex, ac vestibulum ipsum pulvinar vel. Aenean id elementum purus. 
            Praesent placerat purus ante, et pretium augue congue sed. Maecenas ac metus varius, fringilla dolor a, porta arcu. Morbi cursus tortor metus, 
            ac sagittis erat consectetur et. Vivamus commodo et lectus eu interdum. Suspendisse ut mi at urna mollis imperdiet.
            Maecenas lectus nisl, congue nec eros ac, pretium porta arcu. Ut a rhoncus sem. Pellentesque at lorem non elit feugiat sodales. 
            In a nibh nec tortor auctor lacinia id quis lacus. Aenean varius, eros vehicula lacinia tempor, sapien diam commodo nunc, eget mattis nulla erat in mi. 
            Nullam dui dolor, mattis eu massa in, malesuada rhoncus quam. Quisque viverra consequat malesuada. Sed auctor felis a velit vulputate finibus. Aenean lacinia, 
            libero non feugiat blandit, sem mi aliquet dolor, vitae efficitur sapien mi ut sapien. Quisque et orci mollis, congue tellus ac, mollis massa. 
            Duis lobortis risus interdum tortor dictum accumsan. Morbi erat dolor, dapibus quis nibh a, finibus ornare nisl. Sed et est purus. Quisque eu dui risus. 
            Sed suscipit nulla mollis, lacinia neque tempor, fringilla orci. Vestibulum non neque molestie, elementum felis vel, aliquet massa.
        </p>
    </div>
</div>